/*Purple #3E077C #ac84da*/
/*Black #666666*/
/*White #F7F7F7*/


/*CSS HOME PAGE*/
/*CSS HOME PAGE*/
/*CSS HOME PAGE*/

body {
	font-family: "Rubik", sans-serif;
	display: block;
	margin: 0px;
}

header {
	color: #F7F7F7;
	background-color: #000000;
}

a:hover {
	color: #3E077C;
}

a {
	color: inherit;
	text-decoration: inherit;
	transition: color 0.2s;
}

@media (min-width: 768px) {
	.headerLinks {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	.headerLinks li + li{
		margin-left: 20px;
	}
}

.headerName {
	font-size: 40px;
	padding-left: 15px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.headerLinks {
	font-size: 20px;
	list-style-type: none;
	margin-bottom: 0px;
	padding-bottom: 5px;
}

.headerRow {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 75px;
}

.firstLetter {
	font-size: 1.15em;
	color: #ac84da;

}

.picture img {
	display: block;
	border-radius: 15%;
}

.picture {
	float: left;
	margin: 0 30px 5px 0;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	max-width: 1024px;
}

.floatingSkills ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 22px;
}

.floatingSkills li {
	display: inline;
}

.floatingSkills li + li {
	margin-left: 15px;
}

.floatingSkills li + li:before {
	content: '\2022';
	margin-right: 15px;
	font-size: 1.5em;
}

.footerLinks {
	font-size: 20px;
	list-style-type: none;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 0;
	font-size: 1.5em;
}

.fa {
	margin-right: 10px;
}

.skillBody {
	padding-bottom: 30px;
}

.importantText {
	font-weight: bold;
}

.endFooter {
	font-size: 12px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

/*CSS FOR PROJECT PAGE*/
/*CSS FOR PROJECT PAGE*/
/*CSS FOR PROJECT PAGE*/

.projectPage h4 {
	font-weight: normal;
	margin: 0;

}

.projectPage h3 {
	margin: 0;
}

/*CSS FOR ABOUT PAGE*/
/*CSS FOR ABOUT PAGE*/
/*CSS FOR ABOUT PAGE*/